@model AirBnbMVC.Viewmodels.ReservationsViewmodel

@{
    ViewData["Title"] = "Details";
}

<h1>Je reservering voor "@Html.DisplayFor(model => model.Reservation.Property.Address)" is succesvol aangemaakt!</h1>

<div>
    <h4>Alle gegevens nog even op een rijtje!</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.StartDateAsString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.EndDateAsString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.User.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Property.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Property.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Property.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Property.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Property.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Property.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Property.AmountOfRooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Property.AmountOfRooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Property.Landlord.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Property.Landlord.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            €@Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Terug naar hoofdscherm</a>
</div>
