@model AirBnbMVC.Viewmodels.PropertiesViewmodel

@{
    ViewData["Title"] = "Index";
}

<h1>Alle Locaties!</h1>

<form method="get" class="form-inline" asp-controller="Properties" asp-action="FilterProperties">
    <div class="form-group mb-2 mr-sm-2">
        <label for="city" class="sr-only">Stad:</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="Stad">
    </div>
    <div class="form-group mb-2 mr-sm-2">
        <label for="minPrice" class="sr-only">Min. Prijs:</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="number" class="form-control" id="minPrice" name="minPrice" placeholder="Min. Prijs">
        </div>
    </div>
    <div class="form-group mb-2 mr-sm-2">
        <label for="maxPrice" class="sr-only">Max. Prijs:</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="number" class="form-control" id="maxPrice" name="maxPrice" placeholder="Max. Prijs">
        </div>
    </div>
    <div class="form-group mb-2 mr-sm-2">
        <label for="minRooms" class="sr-only">Min. Kamers:</label>
        <input type="number" class="form-control" id="minRooms" name="minRooms" placeholder="Min. Kamers">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Filter</button>
</form>



<div class="row">
    @foreach (var item in Model.Properties)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Address)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.City)</h6>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.PostalCode)</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Aantal kamers: @Html.DisplayFor(modelItem => item.AmountOfRooms)</li>
                        <li class="list-group-item">Prijs per nacht: €@Html.DisplayFor(modelItem => item.PricePerNight)</li>
                        <li class="list-group-item">Eigenaar: @Html.DisplayFor(modelItem => item.Landlord.FullName)</li>
                    </ul>
                    <a href="@Url.Action("Details", "Properties", new { id = item.Id })" class="btn btn-primary mt-3">Bekijk details</a>
                </div>
            </div>
        </div>
    }
</div>